body, div, h1, h2, h3, p, img {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   font-family: Helvetica, sans-serif;
   background-color: #e3e3e3;
}

header {
   height: 150px;
   /*background: #dbdbdb;*/
   background: linear-gradient(to right, #123e87 , #284d8a);
   width: 100%;
}

h1, h2 {
   padding: 20px;
   color: #e3e3e3;
   text-align: center;
}

p {
   margin: .5em 0 .5em 2em;
   color: #363636;
}

img {

   max-width: 20%;
   border-radius: 50%;

   margin-left: 2em;
}

span {
   font-style: italic;
}

#finalScore {
   color: #8c1a53;
   font-weight: bold;
}
